node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.next
/out
tsconfig.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Personal notes
improvements.md
internalize.md
