---
title: My first blog post
description: Post ala blog
date: '1995-02-27'
published: true
tech:
  - Nextjs
  - Neovim
---

# First post

This is the first post. Here is how you build the production version of the app

```typscript
    pnpm run build
```
